<form class="space-y-3" [formGroup]="form" (ngSubmit)="submit()" >
  <div class="space-y-14">
    <div>
      <p-floatlabel>
        <input formControlName="email" type="email" pInputText class="w-full rounded border px-3 py-2" />
        <label class="block text-sm font-medium mb-1">Email</label>
      </p-floatlabel>

      @if (form.get('email')?.touched && form.get('email')?.invalid) {
        <p class="absolute text-red-600 mt-1">
          Veuillez entrer une adresse email valide.
        </p>
      }
    </div>

    <div>
      <p-floatlabel>
        <input formControlName="password" type="password" pInputText class="w-full rounded border px-3 py-2" />
        <label class="block text-sm font-medium mb-1">Password</label>
      </p-floatlabel>
    </div>


    <button type="submit" class="w-full py-2 rounded bg-orange-400 text-white font-semibold hover:opacity-90 transition duration-200 ease-in-out"
            [disabled]="form.invalid">
      LOGIN
    </button>
  </div>
</form>
